// tesla-ui组件库色值
$color-bar: #2A3F54;
$color-text: #425B77;
$color-bg: #F7F7F7;
$color-theme: #00BC9C;
$color-theme-hover: #00A085;
$color-theme-click: #02856F;
$color-input: #333333;
$color-paragraph: #666666;
$color-tip: #999999;
$color-outline: #cccccc;
$color-border: #ededed;  // the-color-border
$color-white: #FFFFFF;
$color-orange: #F6A810;
$color-red: #DB524B;
$color-blue: #539CDB;
$color-green: #58B957;
$color-lightblue: #56C0E0;
$color-orange-hover: #EE9800;
$color-red-hover: #CB2E25;
$color-blue-hover: #2F79B9;
$color-paragraph-hover: #525252;
$color-green-hover: #44A343;
$color-lightblue-hover: #38A1C1;
$color-orange-click: #D48500;
$color-red-click: #BD1E15;
$color-blue-click: #1360A2;
$color-paragraph-click: #424242;
$color-green-click: #329C31;
$color-lightblue-click: #2491B2;
$colors:
(bar, $color-bar),
(text, $color-text),
(bg, $color-bg),
(theme, $color-theme),
(theme-hover, $color-theme-hover),
(theme-click, $color-theme-click),
(input, $color-input),
(paragraph, $color-paragraph),
(tip, $color-tip),
(outline, $color-outline),
(border, $color-border),
(white, $color-white),
(orange, $color-orange),
(red, $color-red),
(blue, $color-blue),
(green, $color-green),
(lightblue, $color-lightblue),
(orange-hover, $color-orange-hover),
(red-hover, $color-red-hover),
(blue-hover, $color-blue-hover),
(paragraph-hover, $color-paragraph-hover),
(green-hover, $color-green-hover),
(lightblue-hover, $color-lightblue-hover),
(orange-click, $color-orange-click),
(red-click, $color-red-click),
(blue-click, $color-blue-click),
(paragraph-click, $color-paragraph-click),
(green-click, $color-green-click),
(lightblue-click, $color-lightblue-click);
@each $name,
$color in $colors {
  .ts-color-#{$name} {
    color: $color;
  }
  .ts-bgcolor-#{$name} {
    background-color: $color;
  }
}

// 本项目色值
$the-color-red: #f0423b;
$the-color-blue: #55b1e8;
$the-color-orange: #ff8100;
$the-color-yellow: #feb500;
$thecolors:
(red, $the-color-red),
(blue, $the-color-blue),
(orange, $the-color-orange),
(yellow, $the-color-yellow);
@each $name,
$color in $thecolors {
  .the-color-#{$name} {
    color: $color;
  }
  .the-bgcolor-#{$name} {
    background-color: $color;
  }
}