// 初始化
* {
  box-sizing: border-box;
}
body {
  @extend .fontsize0;
  font-family: "PingFangSC-Regular","microsoft yahei","Arial"!important;
}
input, {
  outline: none;
}
button {
  border: none;
  background: none;
  outline: none;
}
ul,
li {
  list-style: none;
}
i {
  font-style: normal;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
  background: none;
}

[class *= 'btn-'] {
  display: inline-block;
  line-height: 20px;
  padding: 4px 10px;
  font-size: 12px;
  color: #fff;
  &.btn-blue {
    background-color: $the-color-blue;
  }
  &.btn-red {
    background-color: $the-color-red;
  }
}

.icon-loading{
  margin-left: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 3px solid #999;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}