[class *= 'btn-'] {
  display: inline-block;
  line-height: 20px;
  padding: 4px 10px;
  font-size: 12px;
  color: #fff;
  &.btn-blue {
    background-color: $color-blue;
  }
  &.btn-red {
    background-color: $color-red;
  }
}

.icon-loading{
  margin-left: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: 3px solid #999;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}